<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpGL" version="2.4.1.2" targetFramework="net472" />
  <package id="SharpGL.SceneGraph" version="2.4.1.2" targetFramework="net472" />
  <package id="SharpGL.WinForms" version="2.4.1.2" targetFramework="net472" />
  <package id="SharpGL.WPF" version="2.4.1.2" targetFramework="net472" />
  <package id="SharpGLCore" version="2.4.0.0" targetFramework="net472" />
</packages>